.header {
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  margin-bottom: 35px;
}

@media screen and (max-width: 1150px) {
  .header {
    margin-bottom: 38.25px;
  }
}
