.edit-window__close-button {
  border: none;
  background: none;
  padding: 0;
  position: fixed;
  top: -40px;
  right: -40px;
  cursor: pointer;
}
@media screen and (max-width: 520px) {
  .edit-window__close-button {
    top: -40px;
    right: 2px;
  }
}
