.post__like-button {
  background: none;
  border: none;
  cursor: pointer;
  background-image: url(../../../images/like-button.svg);
  background: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 19px;
  align-self: center;
  margin-right: 4px;
}
.post__like-button:hover {
  opacity: 0.5;
}
