.info__edit-button {
  align-self: center;
  padding: 0;
  border: none;
  background: none;
  border: 1px solid gold;
}

@media screen {
  .info__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
