.edit-window__input-form {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  border: none;
  height: fit-content;
  margin-bottom: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.edit-window__input-form::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #000000;
}
