.post__like-button {
  background: none;
  border: none;
  cursor: pointer;
  background-image: url(../../../vendor/images/like-button.svg);
  background: cover;
  background-repeat: no-repeat;
  width: 25px;
  height: 19px;
  cursor: pointer;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
}
.post__like-button:hover {
  opacity: 0.5;
}
