.edit-window__title {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  margin: 0 auto 43px;
}
@media screen and (max-width: 520px) {
  .edit-window__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 68px;
  }
}
