.edit-window {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 358px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  padding: 0 36px 36px;
}

@media screen and (max-width: 520px) {
  .edit-window {
    width: 238px;
    padding: 7px 23px 0 23px;
  }
}
