.edit-window {
  background-color: white;
  height: 260px;
  width: 358px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 999;
  top: 17.1%;
  left: 50%;
  transform: translateX(-50%);
  padding: 34px 36px 37px;
}
.edit-window:target {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 520px) {
  .edit-window {
    width: 238px;
    height: 260px;
    padding: 22px 23px 33px 23px;
  }
}
